
<!--Full media object-->
<div class="media">
    <!--media image-->
    <div class="media__image"> 
        <!--icon template copy pasted-->
            <svg class="icon">
                <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
    </div>
    <!--media body-->
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, aperiam distinctio numquam quo praesentium explicabo?</p>
    </div>
</div>
