
     <!-- temporary div with inline just to see the
    shadow -->
    <div style="width: 50%; padding: 4rem;">
        <!-- Plan component -->
        <div class="plan plan--popular">
            <div class="card card--secondary">
                <!-- inside the header we add the prices
                and the badge and the text -->
                <header class="card__header">
                    <!-- heading elements are block level elements -->
                    <!-- where as spans are inline elements -->
                   <img src="images/popular.svg" alt="">
                    <h3 class="plan__name">Entry</h3>
                    <span class="plan__price">$14</span>
                    <span class="plan__billing-cycle">/month</span>
                    <span class="badge badge--secondary badge--small">10% OFF</span>
                    <span class="plan__description">Easy start on the cloud</span>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">item 1</li>
                        <li class="list__item">item 2</li>
                        <li class="list__item">item 3</li>
                    </ul> 
                    <button class="btn btn--outline btn--block">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
