
<!--Block quote component-->
<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, in!</p>
<footer>
     <!-- Full media object-->
<div class="media">
    <!--media image-->
    <div class="media__image"> 
        <!--icon template copy pasted-->
            <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
            </svg>
    </div>
    <!--media component copy pasted-->
    <!--media body-->
    <div class="media__body">
      <h3 class="media__title quote__author">Jhon Smith</h3>
      <p class="quote__organization">The Company</p>
    </div>
</div>
</footer>
</blockquote>