/* DRY principal in coding 
Dont repeat yourself */
/* In object oriented css we seperate
structure from skin
- The skin includes color of the text and
background color 
- The structure includes the structural 
codes */

/* Step 1 define the colour pallete of this site. */
:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* Step 2 define the typography of this site */
/* text colour, font-family, font-size 
of the body, heading elements */

html{
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}

/* we start building the website 
focusing on mobile, then we write 
media queries for 768px (tablets)
and then 1024px (desktop) */

/* Font-sizes are larger for mobile 
screens, and font sizes are smaller for 
tablet and desktop screens, 
(idea, here is as the screen gets larger
the font-size, more content can fit in
so the font size gets smaller) */

@media screen and (min-width: 1024px){
body{
    font-size: 1.8rem;

}

h1{
    font-size: 8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2.4rem;
}
}

/* good thing,
 no one would ever have a problem if 
we reused these codes anywhere else */


/* Step 3 */
/* Complete a component of the site */
/* The links component */

a{
    text-decoration: none;
}

.link{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: .9rem;
    border-radius: 2rem;
}     

.link:hover{
    color: black;
    background-color: var(--color-accent);
    border-radius: 2rem;
    transition: 0.3s;
   padding: .9rem;

}































































